<mat-nav-list>

    <a mat-list-item [routerLink]="['/admin/banner-master']" (click)="onSideNavClick()" *ngIf="(auth.isLoggedIn$ | async)">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Banner / Slider Master</span>
    </a>
    <a mat-list-item [routerLink]="['login']" (click)="onSideNavClick()" *ngIf="(auth.isLoggedOut$ | async)">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>

    <mat-list-item *ngIf="(auth.isLoggedIn$ | async)">
        <button mat-icon-button (click)="onLogout()">
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>